.components {
  color: green;
  display: grid;
  justify-content: center;
  height: 700px;
  align-content: center;
}
.web-title {
  text-align: center;
  font-size: 40px;
  font-weight: 800;
  margin: 20px;
}
.topcomp {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  text-align: center;
  margin: 20px;
}
.timer {
  text-align: center;
  width: 300px;
  justify-items: center;
  margin: 20px auto;
  padding: 5px;
  line-height: 20px;
  font-size: 20px;
}
.title {
  font-size: 25px;
}
.time-adjust {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  margin-top: 20px;
  padding: 5px;
}
.time {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 60px;
  font-weight: 700;
  margin-top: 20px;
  padding: 5px;
}
.time-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 50px;
  text-align: center;
}
.interval-grid {
  display: grid;
}
.interval-changer {
  display: grid;
}
button {
  margin: 5px auto;
  width: 100px;
}
.bottomcomp {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  justify-items: center;
  width: 400px;
  margin: 10px auto;
}
.footer {
  text-align: center;
  margin: 10px;
  line-height: 2px;
}
