body {
  background: #23a6d5;
  background-size: 400% 400%;
}
.components {
  color: black;
  display: grid;
  justify-content: center;
  height: 700px;
  align-content: center;
}
.web-title {
  text-align: center;
  font-size: 60px;
  font-weight: 800;
  margin: 20px;
}
.topcomp {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 80px;
  text-align: center;
  margin: 20px;
}
.timer {
  text-align: center;
  width: 300px;
  justify-items: center;
  margin: 20px auto;
  padding: 5px;
  line-height: 20px;
  font-size: 20px;
}
.title {
  font-size: 25px;
  font-weight: 700;
  margin: 5px;
  padding: 5px;
}
.change-title {
  font-size: 20px;
  margin: 5px;
}
.time-adjust {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  margin-top: 20px;
  padding: 5px;
}
.time {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 60px;
  font-weight: 700;
  margin-top: 20px;
  padding: 5px;
}
.time-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 50px;
  text-align: center;
}
.interval-grid {
  display: grid;
  grid-gap: 3px;
}
.interval-changer {
  display: grid;
}

button {
  background: #f18ce4af;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 8px;
  height: 30px;
  line-height: 30px;
  color: #000000;
  width: 100px;
  font-size: 15px;
  font-weight: 500;
  padding: 0px;
  margin: 5px auto;
  -webkit-box-shadow: 1px 1px 20px 0 #000000;
  -moz-box-shadow: 1px 1px 20px 0 #000000;
  box-shadow: 1px 1px 20px 0 #000000;

  border: solid #337fed 1px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
}
button:hover {
  border: solid #f90ce4af 2px;
  background: #f18ce4af;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  text-decoration: none;
}
.bottomcomp {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  justify-items: center;
  width: 400px;
  margin: 10px auto;
}
.footer {
  font-size: 18px;
  text-align: center;
  margin: 10px;
  line-height: 2px;
}
a {
  text-decoration: none;
  font-weight: 600;
}
@media (max-width: 600px) {
  body {
    margin: 50px;
  }
  .web-title {
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    margin: 10px;
  }
  .topcomp {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 40px;
    text-align: center;
    margin: 20px;
  }
  .interval-grid {
    display: grid;
    grid-gap: 5px;
  }
  .interval-changer {
    display: grid;
    grid-gap: 4px;
  }
}
